<html>
<p> This directory contains mobile application code.</p>
<p> React native development requires several dependencies to be installed.</p>
<a target="_blank" href="https://facebook.github.io/react-native/docs/getting-started.html"> get started with React native</a> 
</html>
